
.d-flex{
    margin-left: 400px;
    width: 50%;

}

.container{
    margin-top: 60px;
    align-items: center;
   
}
.container > div{
    width: 500px;
    padding: 10px 0px;
    margin: auto;

}

#results{
    
    margin: auto;
    margin-left: 400px;
    margin-right: 400px;
    background-color: aliceblue;
    display: block;
    
}